<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
  <!-- ===================================================================== -->
  <!-- PREFERENCE PAGE                                                       -->
  <!-- ===================================================================== -->
  <extension point="org.eclipse.ui.preferencePages">
    <page name="%page.name.0"
        class="org.ucdetector.cycle.preferences.CylePreferencePage"
        id="org.ucdetector.cycle.preferences.PreferencePage"
        category="org.ucdetector.preferences.PreferencePage">
    </page>
  </extension>
  
  <!-- ===================================================================== -->
  <!-- PREFERENCES                                                           -->
  <!-- ===================================================================== -->
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="org.ucdetector.cycle.preferences.CyclePreferenceInitializer"/>
  </extension>

  <!-- ===================================================================== -->
  <!-- POP UP                                                                -->
  <!-- ===================================================================== -->
  <extension point="org.eclipse.ui.popupMenus">
    <!-- DETECT CYCLE ============================ -->
    <objectContribution
        adaptable="true"
        id="org.ucdetector.popupMenus.project.Analyze"
        objectClass="org.eclipse.jdt.core.IJavaElement">
      <action class="org.ucdetector.cycle.CycleAction"
          enablesFor="+"
          id="org.ucdetector.cycle.CycleAction"
          label="%CycleAction.label"
          tooltip="%CycleAction.tooltip"
          icon="$nl$/icons/cycle.gif"
          menubarPath="ucdetectorGroup/cycle"/>
    </objectContribution>
  </extension>
  
  <!-- ===================================================================== -->
  <!-- VIEW                                                                  -->
  <!-- ===================================================================== -->
   <extension point="org.eclipse.ui.views">
      <category  name="%category.name.CycleView" id="org.ucdetector.cycle.CycleView">
      </category>
      <view name="%view.name.CycleView"
            icon="$nl$/icons/cycle.gif"
            category="org.ucdetector.cycle.CycleView"
            class="org.ucdetector.cycle.CycleView"
            id="org.ucdetector.cycle.view.CycleView">
      </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.ucdetector.cycle.view.CycleView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
