<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

  <!-- ===================================================================== -->
  <!-- QUICK FIX                                                          -->
  <!-- ===================================================================== -->
  <!-- http://wiki.eclipse.org/FAQ_How_do_I_implement_Quick_Fixes_for_my_own_language%3F -->
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerReference"
     class="org.ucdetector.util.UCDQuickFixer"/>
  </extension>  

  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerFinal"
     class="org.ucdetector.util.UCDQuickFixer"/>
  </extension>
   
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerVisibilityPrivate"
     class="org.ucdetector.util.UCDQuickFixer"/>
  </extension>
  
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerVisibilityProtected"
     class="org.ucdetector.util.UCDQuickFixer"/>
  </extension>
  
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerVisibilityDefault"
     class="org.ucdetector.util.UCDQuickFixer"/>
  </extension>
</plugin>
