<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
  <!-- ===================================================================== -->
  <!-- POP UP                                                                -->
  <!-- ===================================================================== -->
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution	adaptable="true"
				objectClass="org.eclipse.jdt.core.IJavaElement"
				id="org.ucdetector.popupMenus.project">
			<menu label="%popupMenus.root"
					path="additions"
					id="ucdetectorGroup">
      </menu>
		</objectContribution>

    <!-- ExampleAction ============================ -->
		<objectContribution
				adaptable="true"
				id="org.ucdetector.popupMenus.project.Analyze"
				objectClass="org.eclipse.jdt.core.IJavaElement">
			<action class="org.ucdetector.action.ExampleAction"
					enablesFor="+"
					id="org.ucdetector.action.ExampleAction"
					label="%ExampleAction.label"
					tooltip="%ExampleAction.tooltip"
					icon="$nl$/icons/example.gif"
					menubarPath="ucdetectorGroup/additional"/>
		</objectContribution>
    <!-- CheckUcdMarkerAction ====================== -->
    <objectContribution
          adaptable="true"
          id="org.ucdetector.popupMenus.project.Analyze"
          objectClass="org.eclipse.jdt.core.IJavaElement">
       <action
             class="org.ucdetector.action.CheckUcdMarkerAction"
             enablesFor="+"
             icon="$nl$/icons/help_search.gif"
             id="org.ucdetector.action.CheckUcdMarkerAction"
             label="%check.ucd.action.label"
             menubarPath="ucdetectorGroup/additional">
       </action>
		</objectContribution>
    <!-- MoveAction ====================== -->
    <objectContribution
          adaptable="true"
          id="org.ucdetector.popupMenus.project.Analyze"
          objectClass="org.eclipse.jdt.core.IJavaElement">
       <action
             class="org.ucdetector.action.MoveAction"
             enablesFor="+"
             icon="$nl$/icons/correction_move.gif"
             id="org.ucdetector.action.MoveAction"
             label="%move.ucd.action.label"
             menubarPath="ucdetectorGroup/additional">
       </action>
		 </objectContribution>
	</extension>

  <!-- ===================================================================== -->
  <!-- MARKER                                                                -->
  <!-- ===================================================================== -->
  <!-- Example ====================== -->
	<extension point="org.eclipse.core.resources.markers"
			id="org.ucdetector.analyzeMarkerExample"
			name="UCDetector Marker (Example)"			>
		<super type="org.eclipse.core.resources.problemmarker"/>
		<super type="org.eclipse.core.resources.textmarker"/>
		<super type="org.ucdetector.analyzeMarker"/>
		<persistent value="true"></persistent>
	</extension>

  <!-- Check ====================== -->
 <extension point="org.eclipse.core.resources.markers"
       id="org.ucdetector.analyzeMarkerCheckUcdMarkers"
       name="UCDetector Marker (Check Ucd Markers)"      >
    <super type="org.eclipse.core.resources.problemmarker"></super>
    <super type="org.eclipse.core.resources.textmarker"></super>
    <super type="org.ucdetector.analyzeMarker"></super>
    <persistent value="true"></persistent>
 </extension>

  <!-- ===================================================================== -->
  <!-- ANNOTATION TYPES                                                      -->
  <!-- ===================================================================== -->
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type name="org.ucdetector.analyzeMarkerExample"
				super="org.eclipse.ui.workbench.texteditor.warning"
				markerType="org.ucdetector.analyzeMarkerExample"/>
    <type  markerType="org.ucdetector.analyzeMarkerCheckUcdMarkers"
          name="org.ucdetector.analyzeMarkerCheckUcdMarkers"
          super="org.eclipse.ui.workbench.texteditor.warning" />
	</extension>
 
  <!-- ===================================================================== -->
  <!-- ANNOTATION SPECIFICATION                                              -->
  <!-- ===================================================================== -->
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<specification annotationType="org.ucdetector.analyzeMarkerExample"
				icon="icons/help_search.gif"
				includeOnPreferencePage="true"
				label="%example.specification.label"/>
    <specification
          annotationType="org.ucdetector.analyzeMarkerCheckUcdMarkers"
          icon="icons/help_search.gif"
          includeOnPreferencePage="true"
          label="%check.ucd.specification.label"/>
	</extension>
</plugin>
