<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
  <!-- ===================================================================== -->
  <!-- PREFERENCE PAGE                                                       -->
  <!-- ===================================================================== -->
  <extension point="org.eclipse.ui.preferencePages">
    <page name="%preferencePages.name"
        class="org.ucdetector.preferences.UCDetectorPreferencePage"
        id="org.ucdetector.preferences.PreferencePage">
    </page>
    <page name="%preferencePages.name.keywords"
	      class="org.ucdetector.preferences.UCDetectorPreferencePageKeywords"
        id="org.ucdetector.preferences.UCDetectorPreferencePageKeywords"
		    category="org.ucdetector.preferences.PreferencePage">
   	</page>
  </extension>

  <!-- ===================================================================== -->
  <!-- PREFERENCES                                                           -->
  <!-- ===================================================================== -->
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="org.ucdetector.preferences.PreferenceInitializer"/>
  </extension>
  
  <!-- ===================================================================== -->
  <!-- POP UP                                                                -->
  <!-- ===================================================================== -->
  <extension point="org.eclipse.ui.popupMenus">
  
  <!-- =====================================================================
    To show also for WorkingSet, use: objectClass=org.eclipse.core.resources.mapping.ResourceMapping -->
    <objectContribution
        adaptable="true"
        objectClass="org.eclipse.jdt.core.IJavaElement"
        id="org.ucdetector.popupMenus.project">
      <menu label="%popupMenus.root"
          path="additions"
          id="ucdetectorGroup">
      </menu>
    </objectContribution>

    <!-- COUNT ============================ -->
    <objectContribution
        adaptable="true"
        id="org.ucdetector.popupMenus.project.Analyze"
        objectClass="org.eclipse.jdt.core.IJavaElement">
      <action class="org.ucdetector.action.CountAction"
          enablesFor="+"
          id="org.ucdetector.CountAction"
          label="%CountAction.label"
          tooltip="%CountAction.tooltip"
          icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/info_tsk.gif"
          menubarPath="ucdetectorGroup/ucdetector"/>
    </objectContribution>
    
    <!-- CLEAN MARKERS ============================ -->
    <objectContribution
        adaptable="true"
        id="org.ucdetector.popupMenus.project.Analyze"
        objectClass="org.eclipse.jdt.core.IJavaElement">
      <action class="org.ucdetector.action.CleanMarkersAction"
          enablesFor="+"
          id="org.ucdetector.CleanMarkersAction"
          label="%CleanMarkersAction.label"
          tooltip="%CleanMarkersAction.tooltip"
          icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/delete_obj.gif"
          menubarPath="ucdetectorGroup/ucdetector"/>
    </objectContribution>

    <!-- DETECT UC ============================ -->
    <objectContribution
        adaptable="true"
        id="org.ucdetector.popupMenus.project.Analyze"
        objectClass="org.eclipse.jdt.core.IJavaElement">
      <action class="org.ucdetector.action.UCDetectorAction"
          enablesFor="+"
          id="org.ucdetector.SearchAction"
          label="%DetectAction.label"
          tooltip="%DetectAction.tooltip"
          icon="$nl$/icons/ucd.gif"
          menubarPath="ucdetectorGroup/ucdetector"
          definitionId="org.ucdetector.definitionId.ucd"/>
    </objectContribution>

    <!-- DETECT CYCLE ============================ -->
    <objectContribution
        adaptable="true"
        id="org.ucdetector.popupMenus.project.Analyze"
        objectClass="org.eclipse.jdt.core.IJavaElement">
      <action class="org.ucdetector.action.CycleAction"
          enablesFor="+"
          id="org.ucdetector.cycle.CycleAction"
          label="%CycleAction.label"
          tooltip="%CycleAction.tooltip"
          icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/elcl16/refresh_nav.gif"
          menubarPath="ucdetectorGroup/cycle"/>
    </objectContribution>
  </extension>
  
  <!-- ===================================================================== -->
  <!-- COMMAND+BINDINGS to declare shortcut  Alt+Shift+U                     -->
  <!-- ===================================================================== -->
	<extension point="org.eclipse.ui.commands"> 
		<command name="%command.name.0" 
		       id="org.ucdetector.definitionId.ucd"> 
		</command>
	</extension>
	<extension point="org.eclipse.ui.bindings" name="%extension.name.0"> 
    <key commandId="org.ucdetector.definitionId.ucd" 
         contextId="org.eclipse.ui.contexts.window" 
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" 
         sequence="M2+M3+U"
         /> 
  </extension>
  <!-- ===================================================================== -->
   <!-- MARKER                                                               -->
  <!-- ===================================================================== -->
  <!-- base see also attributes in: eclipse-3.3\plugins\org.eclipse.jdt.core_3.3.0.v_771.jar -->
  <!-- *** 1 *** -->
  <extension
      id="org.ucdetector.analyzeMarker"
      name="%extension.name.1"
      point="org.eclipse.core.resources.markers">
    <persistent value="true"/>
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
  </extension>
  <!-- References -->
  <extension
      id="org.ucdetector.analyzeMarkerReference"
      name="%extension.name.2"
      point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
    <super type="org.ucdetector.analyzeMarker"/>
    <persistent
        value="true"></persistent>
  </extension>
  <!-- Few references -->
  <extension
      id="org.ucdetector.analyzeMarkerFewReference"
      name="%extension.name.3"
      point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
    <super type="org.ucdetector.analyzeMarker"/>
    <persistent
        value="true"></persistent>
  </extension>
   <!-- visibility -->
  <extension
      id="org.ucdetector.analyzeMarkerVisibilityPrivate"
      name="%extension.name.4"
      point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
    <super type="org.ucdetector.analyzeMarker"/>
    <persistent  value="true"></persistent>
  </extension>
  <extension
      id="org.ucdetector.analyzeMarkerVisibilityProtected"
      name="%extension.name.5"
      point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
    <super type="org.ucdetector.analyzeMarker"/>
    <persistent  value="true"></persistent>
  </extension>
  <extension
      id="org.ucdetector.analyzeMarkerVisibilityDefault"
      name="%extension.name.6"
      point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
    <super type="org.ucdetector.analyzeMarker"/>
    <persistent  value="true"></persistent>
  </extension>
   <!-- final -->
  <extension
      id="org.ucdetector.analyzeMarkerFinal"
      name="%extension.name.7"
      point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
    <super type="org.ucdetector.analyzeMarker"/>
    <persistent  value="true"></persistent>
  </extension>
   <!-- analyzeTestOnly -->
  <extension
      id="org.ucdetector.analyzeMarkerTestOnly"
      name="%extension.name.8"
      point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
    <super type="org.ucdetector.analyzeMarker"/>
    <persistent  value="true"></persistent>
  </extension>
  
   <!-- ucd icon -->
    <!-- *** 2 *** -->
  <extension point="org.eclipse.ui.editors.annotationTypes">
    <!-- Reference -->
    <type
        name="org.ucdetector.analyzeAnnotationReference"
        super="org.eclipse.ui.workbench.texteditor.warning"
        markerType="org.ucdetector.analyzeMarkerReference"/>
    <!-- few references -->
    <type
        name="org.ucdetector.analyzeAnnotationFewReference"
        super="org.eclipse.ui.workbench.texteditor.warning"
        markerType="org.ucdetector.analyzeMarkerFewReference"/>
    <!-- visibility -->
    <type
        name="org.ucdetector.analyzeAnnotationVisibilityPrivate"
        super="org.eclipse.ui.workbench.texteditor.warning"
        markerType="org.ucdetector.analyzeMarkerVisibilityPrivate"/>
    <type
        name="org.ucdetector.analyzeAnnotationVisibilityProtected"
        super="org.eclipse.ui.workbench.texteditor.warning"
        markerType="org.ucdetector.analyzeMarkerVisibilityProtected"/>
    <type
        name="org.ucdetector.analyzeAnnotationVisibilityDefault"
        super="org.eclipse.ui.workbench.texteditor.warning"
        markerType="org.ucdetector.analyzeMarkerVisibilityDefault"/>
    <!-- final -->
    <type
        name="org.ucdetector.analyzeAnnotationFinal"
        super="org.eclipse.ui.workbench.texteditor.warning"
        markerType="org.ucdetector.analyzeMarkerFinal"/>
    <!-- test only -->
    <type
        name="org.ucdetector.analyzeAnnotationTestOnly"
        super="org.eclipse.ui.workbench.texteditor.warning"
        markerType="org.ucdetector.analyzeMarkerTestOnly"/>
  </extension>
  
  <!-- *** 3 *** -->
  <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
    <!-- references -->
    <specification
        annotationType="org.ucdetector.analyzeAnnotationReference"
        icon="icons/not_found_obj.gif"
        quickFixIcon="icons/not_found_obj.gif"
        includeOnPreferencePage="true"
        label="%specification.label.references"/>
    <!-- few references -->
    <specification
        annotationType="org.ucdetector.analyzeAnnotationFewReference"
        icon="icons/few_found_obj.gif"
        includeOnPreferencePage="true"
        label="%specification.label.few.references"/>
    <!-- visibility -->
    <specification
        annotationType="org.ucdetector.analyzeAnnotationVisibilityPrivate"
        icon="icons/use_private.gif"
        quickFixIcon="icons/use_private.gif"
        includeOnPreferencePage="true"
        label="%specification.label.private"/>
    <specification
        annotationType="org.ucdetector.analyzeAnnotationVisibilityProtected"
        icon="icons/use_protected.gif"
        quickFixIcon="icons/use_protected.gif"
        includeOnPreferencePage="true"
        label="%specification.label.protected"/>
    <specification
        annotationType="org.ucdetector.analyzeAnnotationVisibilityDefault"
        icon="icons/use_default.gif"
        quickFixIcon="icons/use_default.gif"
        includeOnPreferencePage="true"
        highlightPreferenceValue="true"
        label="%specification.label.default"/>
    <!-- -->
    <specification
        annotationType="org.ucdetector.analyzeAnnotationFinal"
        icon="icons/use_final.gif"
        quickFixIcon="icons/use_final.gif"
        includeOnPreferencePage="true"
        label="%specification.label.final"/>
    <!-- -->
    <specification
        annotationType="org.ucdetector.analyzeAnnotationTestOnly"
        icon="icons/testOnly.gif"
        quickFixIcon="icons/testOnly.gif"
        includeOnPreferencePage="true"
        label="%specification.label.test.only"/>
  </extension>

  <!-- ===================================================================== -->
  <!-- QUICK FIX                                                             -->
  <!-- ===================================================================== -->
  <!-- http://wiki.eclipse.org/FAQ_How_do_I_implement_Quick_Fixes_for_my_own_language%3F   -->
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerReference"
     class="org.ucdetector.quickfix.UCDQuickGenerator"/>
  </extension>
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerTestOnly"
     class="org.ucdetector.quickfix.UCDQuickGenerator"/>
  </extension>
  <!-- no quickFix for few references
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerFewReference"
     class="org.ucdetector.quickfix.UCDQuickGenerator"/>
  </extension> -->
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerFinal"
     class="org.ucdetector.quickfix.UCDQuickGenerator"/>
  </extension>
   
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerVisibilityPrivate"
     class="org.ucdetector.quickfix.UCDQuickGenerator"/>
  </extension>
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerVisibilityProtected"
     class="org.ucdetector.quickfix.UCDQuickGenerator"/>
  </extension>
  <extension point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
     markerType="org.ucdetector.analyzeMarkerVisibilityDefault"
     class="org.ucdetector.quickfix.UCDQuickGenerator"/>
  </extension>

  <!-- ===================================================================== -->
  <!-- HELP.TOC                                                              -->
  <!-- ===================================================================== -->
  <extension point="org.eclipse.help.toc">
    <toc file="help/toc.xml" primary="true"></toc>
  </extension>

  <!-- ===================================================================== -->
  <!-- HELP.CONTEXTS                                                         -->
  <!-- ===================================================================== -->
  <extension point="org.eclipse.help.contexts">
    <contexts file="help/contexts.xml" plugin="org.ucdetector"></contexts>
  </extension>

  <!-- ===================================================================== -->
  <!-- CYCLE VIEW                                                            -->
  <!-- ===================================================================== -->
   <extension point="org.eclipse.ui.views">
      <category  name="%category.name.CycleView" id="org.ucdetector.cycle.CycleView">
      </category>
      <view name="%view.name.CycleView"
            icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/elcl16/refresh_nav.gif"
            category="org.ucdetector.cycle.CycleView"
            class="org.ucdetector.cycle.CycleView"
            id="org.ucdetector.cycle.view.CycleView">
      </view>
   </extension>
   
  <!-- ===================================================================== -->
  <!-- INTRO                                                                 -->
  <!-- ===================================================================== 
  http://www.eclipse.org/eclipse/platform-ua/proposals/shared-intro/shared-intro.htm#enhancements
  -->
  <extension point="org.eclipse.ui.intro.configExtension">
     <configExtension 
           configId="org.eclipse.ui.intro.universalConfig"
           content="welcome.xml" >
     </configExtension>
     <theme default="false"
           id="org.ucdetector.theme"
           name="%theme.name.0"
           path="."
           previewImage="icons/ucd.gif">
           <property name="launchbarOverviewIcon" value="icons/ucd.png"/>
     </theme>
  </extension>

  <!-- ===================================================================== -->
  <!-- APPLICATIONS                                                          -->
  <!-- ===================================================================== -->
  <extension id="ucd"
        point="org.eclipse.core.runtime.applications">
     <application>
        <run class="org.ucdetector.UCDApplication" />
     </application>
  </extension>
</plugin>
